* {
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 12pt;
    color: #cdd6f4;
}

window#waybar {
    background-color: rgba(30, 30, 46, 0.9);
    border-bottom: 2px solid #89b4fa;
}

#workspaces button {
    padding: 0 6px;
    margin: 0 3px;
    border-radius: 6px;
    background-color: #45475a;
    color: #cdd6f4;
}

#workspaces button.active {
    background-color: #89b4fa;
    color: #1e1e2e;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#network,
#battery {
    padding: 0 10px;
}
